---
layout: default
---

{% assign author = site.data.authors[page.author] %}
{% if page.last_modified_at %}
{% assign modified = page.last_modified_at %}
{% else %}
{% assign modified = page.date %}
{% endif %}

{%
  include structuredData_blogpost.html
  headline=page.title
  categories=page.categories
  author=author
  description=page.description
  datePublished=page.date
  dateModified=modified
  image=page.image
  content=page.content
  link=page.url
%}

<h1>{{ page.title }}</h1>
<hr>
<p class="lead">Posted by {% if page.author %}{{ author.name }}{% else %}{{ site.title }}{% endif %} on {{ page.date | date: "%B %-d, %Y" }}{% if page.date_modified %}, modified on {{ page.date_modified | date: "%B %-d, %Y" }}{% endif %}</p>
<p>{% include adsense_inArticle.html %}</p>
{{  content }}
<nav class="nav justify-content-center" aria-label="Page navigation">
  <ul class="pagination">
    {% if page.previous.url %}
    <li class="page-item">
      <a class="page-link" href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" aria-label="Previous" rel="prev">
        <span aria-hidden="true">&laquo; Previous Post</span>
        <span class="sr-only">&laquo; Previous Post</span>
      </a>
    </li>
    {% endif %}
    {% if page.next.url %}
    <li class="page-item">
      <a class="page-link" href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" aria-label="Next" rel="next">
        <span aria-hidden="true">Next Post &raquo;</span>
        <span class="sr-only">Next Post &raquo;</span>
      </a>
    </li>
    {% endif %}
  </ul>
</nav>
<center>
<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
<span id="busuanzi_container_site_pv">本站總訪問量<span id="busuanzi_value_site_pv"></span>次</span><span id="busuanzi_container_site_uv">訪客<span id="busuanzi_value_site_uv"></span>人</span>
</center>
<div>
  {% include disqus.html %}
  {% if page.mermaid == true %}
  <script src="/js/mermaid/8.0.0/mermaid.min.js"></script>
  <script>
  var config = {
    startOnLoad:true,
    theme: 'forest',
    flowchart:{
      useMaxWidth:false,
      htmlLabels:true
    }
  };
  mermaid.initialize(config);
  mermaid.init(undefined, document.querySelectorAll('.language-mermaid'));
  </script>
  {% endif %}
</div>
